<%- include('../partials/admin/header.ejs') %>
    <section class="content-main">
        <form action="/admin/addProduct" id="productForm" method="post"
            onsubmit="return validateProductForm(edit=false) " enctype="multipart/form-data">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <% if (locals.success) { %>
                            <p class="text-success" id="msg">
                                <%= success %>
                            </p>
                            <% } %>
                                <% if (locals.error) { %>
                                    <p class="text-danger" id="msg">
                                        <%= error %>
                                    </p>
                                    <% } %>
                                        <div>
                                            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                                            <button type="submit"
                                                class="btn btn-md rounded font-sm hover-up">Publish</button>
                                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" name="productName" class="form-control"
                                    id="product_name">
                                <p class="text-danger" id="nameError"></p>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" id="description" name="productDescription"
                                    class="form-control" rows="4"></textarea>
                                <p class="text-danger" id="descriptionError"></p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Regular price</label>
                                        <div class="row gx-2">
                                            <input placeholder="₹" id="RP" name="regularPrice" type="text"
                                                class="form-control">
                                            <p class="text-danger" id="regularPriceError"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Selling price</label>
                                        <input placeholder="₹" type="text" name="sellingPrice" id="SP"
                                            class="form-control">
                                        <p class="text-danger" id="sellingPriceError"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">No of Stock</label>
                                        <input placeholder="0" type="text" name="stock" id="stock" class="form-control">
                                        <p class="text-danger" id="stockError"></p>
                                    </div>



                                </div>
                            </div>

        </form>
        </div>
        </div> <!-- card end// -->
        <div class="row">
            <div class="col-9"> 
                <div class="col-lg-4">
                    <div class="mb-4">
                        <label class="form-label">Product Discount</label>
                        <div class="row gx-2">
                            <input placeholder="%" onkeyup="productDiscount(this)" id="productDiscount" name="productDiscount" type="text" class="form-control">
                            <p class="text-danger" id="productDiscountError"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Media</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        <img src="/backEnd/images/theme/upload.svg" alt="upload">
                        <input class="form-control" id="img" type="file" name="productImage" multiple>
                        <p class="text-danger" id="imageError"></p>
                    </div>
                </div>
                <!-- <button id="cropButton" class="btn btn-md rounded font-sm hover-up">Crop Image</button> -->
            </div> <!-- card end// -->
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Category</h4>
                </div>
                <div class="card-body">
                    <div class="row gx-2">
                        <div class="col-md-9">
                            <div class="mb-4">
                                <p class="text-danger" id="categoryError"></p>
                                <% if (categories.length) { %>
                                    <% for(category of categories) { %>
                                        <label class="mb-2 form-check form-check-inline" style="width: 100%;">
                                            <input class="form-check-input" value="<%=category.categoryName%>"
                                                id="category" name="category" type="radio"
                                                onclick="provideDiscount('<%=category._id%>')">

                                            <span class="form-check-label">
                                                <%=category.categoryName %>
                                            </span>
                                        </label>
                                        <% } %>
                                            <% }else{%>
                                                <div>
                                                    <H1>NO Categories Created</H1>
                                                </div>
                                                <% } %>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </div>
            </div> <!-- card end// -->
        </div>
        <div class="col-lg-3" id="cropContainer">
        </div>
        </div>
        </form>
    </section><!--  content-main en -->
    <script>
        // JavaScript to handle the image display
        //         document.getElementById('cropButton').addEventListener('click', function() {
        //     const input = document.getElementById('img');
        //         const imageContainer = document.getElementById('cropContainer');
        //         imageContainer.innerHTML = ''; // Clear any previously displayed images
        //     if (input.files && input.files.length > 0) {
        //         for (let i = 0; i < input.files.length; i++) {
        //             const file = input.files[i];
        //         if (file.type.startsWith('image/')) {
        //                 const image = document.createElement('img');
        //         image.className = 'image';
        //         image.width='85'
        //         image.height='75'
        //         image.src = URL.createObjectURL(file);
        //         imageContainer.appendChild(image);
        //             }
        //         }
        //     }
        // });
        // const imageInput = document.getElementById('img');
        //     const cropButton = document.getElementById('cropButton'); // Add a crop button to trigger the cropping
        //     let cropper;
        //     imageInput.addEventListener('change', function (e) {
        //         const files = e.target.files;
        //         for (let i = 0; i < files.length; i++) {
        //             const reader = new FileReader();
        //             reader.onload = function (event) {
        //                 const image = new Image();
        //                 image.src = event.target.result;
        //                 image.onload = function () {
        //                     // Display the image for cropping in a container
        //                     const container = document.getElementById('cropContainer');
        //                     container.innerHTML = ''; // Clear the container
        //                     container.appendChild(image);
        //                     // Initialize the cropper
        //                     cropper = new Cropper(image, {
        //                         aspectRatio: 1,
        //                         viewMode: 2,
        //                     });
        //                 };
        //             };
        //             reader.readAsDataURL(files[i]);
        //         }
        //     });
        //     cropButton.addEventListener('click', function () {
        //         // Trigger the cropping and get the cropped image as a Blob
        //         const croppedImageBlob = cropper.getCroppedCanvas().toBlob((blob) => {
        //             // Now you have the cropped image in the 'blob' object.
        //             // You can send it to your server and insert it into the database.
        //             console.log(blob)
        //         });
        //     });
    </script>
    <script>
     
    </script>
    <script>
        // Function to hide the success message after a specified timeout
      
       
    </script>
    <%- include('../partials/admin/footer.ejs') %>